{% extends "base.html" %}
{% block content %}
<section class="d-flex main-container">
  <div class="container align-self-center">
    <div class="row">
      <!-- Positive action feedback provided so user knows that form was submitted successfully. -->
      <h1 class="col-12 text-center mb-4">Thank you for your message.</h1>
      <p class="col-12 text-center mb-4">We will respond as soon as possible.</p>
    </div>
    <div class="row">
      <!-- Button to browse products. -->
      <a href="{% url 'products' %}" class="btn btn-custom col-8 offset-2 col-md-4 offset-md-4">
        Browse Products
      </a>
    </div>
  </div>
</section>
{% endblock %}
