<div class="row d-flex align-items-center">
  <div class="col-4">
    <button class="btn remove-cart-item-button" alt="Remove item from cart." data-remove-item-id="{{ item.product.id }}"
      type="submit"><i class="fas fa-times-circle"></i></button>
    <p class="pt-2 text-center">{{ item.product.name }}</p>
  </div>
  <p class="col-2 offset-md-1 pt-2 text-center">£{{ item.product.price }}</p>
  <form method="POST" action="{% url 'adjust_cart' item.id %}" class="form col-6 col-md-3 offset-md-1">
    {% csrf_token %}
    <label for="inputAmount" class="sr-only">Item Quantity</label>
    <div class="input-group ml-2">
      <input data-item-id="{{ item.product.id }}" name="quantity" type="number" min="0"
        max="{{ item.product.stock_available }}" class="form-control quantity-input text-center"
        value="{{ item.quantity }}" required>
      <button type="submit" class="input-group-append btn btn-custom invisible"><span class="glyphicon glyphicon-edit"
          aria-hidden="true"></span>Amend</button>
    </div>
  </form>
</div>