<!-- Each product card provides a brief summary of the product. -->
<div class="product-card depth-shadow d-flex justify-content-around align-items-center">
  <div class="d-flex align-items-center justify-content-center product-card-image-container">
    <a href="{% url 'product_detail' product.pk %}" aria-label="Product details">
      <img class="product-card-image ml-1" src="{{ product.product_image.url }}"
        alt="Product image of {{ product.name }}.">
      </img>
    </a>
  </div>
  <div class="product-card-information d-flex flex-column justify-content-around align-items-center mr-2">
    <div class="product-card-title font-weight-bold mt-3 text-center">{{ product.name }}</div>
    <div class="product-card-price text-center">
      {% if product.stock_available > 0 %}
      £{{ product.price }}
        {% else %}
        Item out of stock.
      {% endif %}
    </div>
    <a href="{% url 'product_detail' product.pk %}" class="btn btn-custom mb-2">Product Details</a>
  </div>
</div>
