{% extends "base.html" %}
{% block content %}
<div class="container-fluid main-container">
  <div class="row">
    <!-- Search form to filter for queried term. -->
    <form class="form container mt-2 mx-1" action="{% url 'product_search' %}" method="GET">
      <div class="row">
        <input class="form-control col-7 mr-1" type="text" name="search_query">
        <button class="btn btn-custom col-4 text-center" type="search">Search</button>
      </div>
    </form>
  </div>
  <div class="row">
    <p class="col-12 mt-1">Search results for: "{{ search_query }}"</p>
  </div>
  <div class="row d-flex flex-wrap">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4 my-3">
      {% include "productcard.html" %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}