{% extends "base.html" %}
{% block content %}
<div class="main-container d-flex">
  <div class="container align-self-center green-border-container depth-shadow py-3">
    <!-- A button to return to the previous page, further useful if searching products. -->
    <div class="row mb-3 ml-3"><a href="{{ previous_page }}"><button class="btn btn-custom">Return to products</button></a></div>
    <div class="row d-flex align-items-center justify-content-around">
      <div class="col-12 col-md-4 d-flex justify-content-center px-0">
        <!-- A large image of the selected product. -->
        <img id="product-detail-image" class="my-4 my-md-0" src="{{ product.product_image.url }}"
          alt="Product image of {{ product.name }}.">
      </div>
      <div class="col-12 col-md-6">
        <div class="container-fluid d-flex flex-column justify-content-between depth-shadow"
          id="product-detail-container">
          <!-- Further information about the product and ability to add product to cart. -->
          <div class="row">
            <h1 class="col-12 text-center font-weight-bold mt-3 mb-4">{{ product.name }}</h1>
          </div>
          <div class="row">
            <p class="col-12 text-center mb-3">{{ product.description }}</p>
          </div>
          <div class="row d-flex align-items-center">
            <p class="col-12 col-md-6 text-center">Price: £{{ product.price }}</p>
            <p class="col-12 col-md-6 text-center">Number available: {{ product.stock_available }}</p>
          </div>
          <div class="row">
            {% if product.stock_available > 0 %}
            <form action="{% url 'add_to_cart' product.pk %}" method="POST"
              class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-2">
              {% csrf_token %}
              <div class="input-group mb-3 mt-3">
                <input type="number" name="quantity" aria-label="Input field for quantity." min="1"
                  max="{{ product.stock_available }}" class="form-control text-center" placeholder="Quantity"
                  required />
                <span class="input-group-btn">
                  <button class="btn btn-custom" type="submit">
                    Add
                  </button>
                </span>
              </div>
            </form>
            {% else %}
            <p class="col-12 text-center font-italic">This item is currently out of stock.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
