{% extends "base.html" %}
{% block content %}
<div class="container-fluid main-container d-flex flex-column justify-content-center align-items-center">
  <h1>Frequently Asked Questions</h1>
  <h2>Can I make a bulk order?</h2>
  <p>Standard stock levels are based on previous customer demand, if you require a greater quantity than is available
    please <a href="{% url 'contact' %}">contact us</a>.</p>
  <h2>Can I purchase design files (STL files) of your products?</h2>
  <p>We don't currently offer purchasing of standard design files, we can however provide design files of your own <a
      href="">custom orders</a>.</p>
  <h2>What plastics are used in your products?</h2>
  <p>PETG, a Glycol modified version of Polyethylene Terephthalate (PET) is primarily used. PETG is suitable for
    printing across a wide variety of applications as it is durable, strong and impact resistance while maintaining
    lower
    printing costs. </p>
  <h2>Are your products food-safe?</h2>
  <p>We cannot provide food-safe/medical grade products due to the nature of FDM printing, custom orders of products for
    these environments will be advised against their use past educational purposes.</p>
</div>
{% endblock %}