{% extends "base.html" %}
{% block content %}
<section class="d-flex main-container">
  <div class="container align-self-center">
    <div>
      <h1 class="text-center">Frequently Asked Questions</h1>
      <ul>
        <li>
          <p>Can I make a bulk order?</p>
          <p>Standard stock levels are based on previous customer demand, if you require a greater
            quantity than is available
            please <a href="{% url 'contact' %}">contact us</a>.</p>
        </li>
        <li>
          <p>Can I purchase design files (STL files) of your products?</p>
          <p>We don't currently offer purchasing of standard design files, we can however provide design files for
            custom orders,
            <a href="{% url 'contact' %}">contact us</a> for more information.</p>
        </li>
        <li>
          <p>What plastics are used in your products?</p>
          <p>PETG, a Glycol modified version of Polyethylene Terephthalate (PET) is primarily used. PETG is suitable
            for
            printing across a wide variety of applications as it is durable, strong and impact resistance while
            maintaining
            lower
            printing costs. </p>
        </li>
        <li>
          <p>Are your products food-safe?</p>
          <p>We cannot provide food-safe/medical grade products due to the nature of FDM printing, custom orders of
            products
            for
            these environments will be advised against their use past educational purposes.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}