@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans&family=Lato:ital,wght@1,700&display=swap");

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.remove-text-decoration:hover {
  text-decoration: none;
}

#site-title {
  font-size: 1.8rem;
  color: #000000;
  font-family: "Black Ops One", cursive;
}

.jumbotron {
  background-image: url("../img/zmorph-3dprinter.jpg");
  background-size: cover;
  padding: 0;
  border-radius: 0;
}

.jumbotron > div {
  background-color: #ffffffb9;
}

#jumbotron-title {
  font-family: "Black Ops One", cursive;
  font-size: 3rem;
}

.footer-social-icon {
  height: 1.9rem;
}

.product-description {
  height: 8rem;
  overflow-y: auto;
}

.fill-parent-height {
  height: 100%;
}

.product-card {
  height: 17rem;
  border-style: double;
  border-width: 0.1rem;
  border-color: #c2c2c2;
  background-color: #ebf0ea;
  box-shadow: 0.2rem 0.2rem 0.2rem #5252527a;
  overflow: hidden;
}

.product-card-image-container {
  height: 15rem;
  overflow: hidden;
}

.product-card-image {
  height: 9rem;
  width: 9rem;
  object-fit: cover;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.product-card:hover .product-card-image {
  transform: scale(1.5, 1.5);
}

.product-card-information {
  height: 9rem;
}

.product-card-information > div {
  font-family: "Lato", sans-serif;
}

.product-card-title {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.product-card-price {
  color: #23b772;
}

/* Custom button styling to suit site theme. */

.btn-custom {
  background: #23b772;
  background: linear-gradient(180deg, #23b772 35%, #1d8152 100%);
  box-shadow: 0.2rem 0.2rem 0.2rem #5252527a;
  border-color: #dfdfdf;
  color: #ffffff;
  border-radius: 0.15rem;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-custom:focus {
  box-shadow: 0rem 0rem 1rem 0.2rem #ffffff;
  border-color: #000000;
}

.btn-custom:hover {
  background-color: #285238;
  border-color: #000000;
  color: #ffffff;
}

.navbar-nav > .nav-item:hover {
  background-color: #dfdfdf;
  border-radius: 0.2rem;
}

.fas {
  color: #23b772;
  text-shadow: -0.05rem 0 #000000, 0.05rem 0 #000000, 0 0.05rem #000000,
    0 -0.05rem #000000;
}

.fa-shopping-basket {
  font-size: 1.8rem;
}

.quality-icon {
  font-size: 3.5rem;
}

.remove-cart-item-form {
  display: block;
  position: absolute;
  left: 1px;
}

.fa-times-circle {
  color: #fc7d7d;
}

#cart-container {
  background: #afdab534;
  border-radius: 0.5rem;
}

th {
  padding: 1.3rem 0.2rem !important;
  font-size: 0.9rem;
}

#order-table {
  margin: 0;
  width: 100%;
}

#new-profile-credentials {
  background-color: #8ac26a6c;
  border-radius: 1rem;
}

h1 {
  font-size: 1.8rem;
}

.form-control:focus {
  border-color: #23b772;
  box-shadow: inset 0 1px 1px #23b772, 0 0 8px #23b772;
}
