{% extends "base.html" %}
{% block content %}
<section class="d-flex main-container">
  <div class="container-fluid align-self-center my-auto">
    <div class="row my-auto">
      <div class="col-6 col-md-12 my-auto">
        <div class="row">
          <!-- Page title. -->
          <h1 class="text-center col-12">About PrintCrate</h1>
        </div>
      </div>
      <!-- Details of PrintCrate's purpose, what it offers, why the customer should shop there. -->
      <div class="col-6 col-md-8 offset-md-2 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
          id est laborum.</p>
      </div>
      <!-- Button to browse products. -->
      <a href="#"
        class="btn btn-custom col-10 offset-1 offset-md-2 mr-md-1 col-md-4 offset-lg-3 col-lg-3 offset-xl-4 col-xl-2">
        Browse Products
      </a>
      <!-- Button to access FAQ. -->
      <a href="#" class="btn btn-custom col-10 offset-1 ml-md-1 col-md-4 col-lg-3 col-xl-2">
        FAQ
      </a>
    </div>
  </div>
</section>
{% endblock %}