{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{{ total }}
<section class="container main-container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Your Payment Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form id="payment-form" method="POST">
        {% csrf_token %}
        {{ payment_form|crispy }}
        <button type="submit">Confirm</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}