{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="container main-container d-flex flex-column justify-content-center">
  <div class="row d-flex justify-content-center">
    <h1 class="text-center my-3">Your Payment Information</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <p class="text-center">Enter payment details below to authorise transaction of £{{ total }}.</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
      <form id="payment-form" method="POST">
        <!-- Loads CSRF token for form submission. -->
        {% csrf_token %}
        <fieldset class="form-group pt-3 pb-1">
          <!-- Form for user to input their payment method details. -->
          {{ payment_form|crispy }}
        </fieldset>
        <div class="form-group d-flex justify-content-center">
          <button class="btn btn-custom" type="submit">Confirm</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Error message is displayed if Stripe error occurs. -->
      <p class="text-center text-danger" id="stripe-error-message"></p>
    </div>
  </div>
</section>
{% endblock %}
