{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="container main-container d-flex flex-column justify-content-center">
  <div class="row d-flex justify-content-center">
    <h2 class="text-center my-3">Your Shipping Information</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
      <form method="POST">
        <!-- Loads CSRF token for form submission. -->
        {% csrf_token %}
        <fieldset class="form-group pt-3 pb-1">
          <!-- Form for customer to specify shipping information for specific order. -->
          {{ customer_shipping_form|crispy }}
        </fieldset>
        <div class="form-group d-flex justify-content-center">
          <button class="btn btn-custom" type="submit">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}