{% extends 'base.html' %}

<!-- Enables Boostrap CSS customisation of form appearance. -->
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Login</h2>
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
      </form>
      <span>New user? <a href="{% url 'register' %}">Register</a></span>
    </div>

  </div>
</div>

{% endblock %}