{% extends "base.html" %}
{% block content %}
<section class="d-flex main-container">
  <div class="align-self-center container px-3">
    <div class="row">
      <div class="col-12 col-md-6 d-flex flex-column align-self-center px-1">
        {% if user_orders %}
        {% include "components/ordertable.html" %}
        {% else %}
        <h1 class="text-center">Purchases made will be accessible here.</h1>
        {% endif %}
      </div>
      <div class="col-12 col-md-6 d-flex align-self-center justify-content-center" id="new-profile-credentials">
        {% include "components/updatecredentials.html" %}
      </div>
    </div>
  </div>
</section>
{% endblock %}