{% extends "base.html" %}
{% block content %}
<div id="cart-container" class="container main-container d-flex flex-column justify-content-center">
  <div class="row font-weight-bold text-center mb-3">
    <div class="col-4">Name</div>
    <div class="col-2 offset-md-1">Price</div>
    <div class="col-5">Quantity</div>
  </div>
  {% for item in cart_items %}
  {% include "components/cart-contents.html" %}
  {% endfor %}
  <p class="text-center mt-5">Total: £{{ total }} </p>
  <a href="{% url 'shipping' %}" class="btn btn-custom mt-3" role="button">Checkout</a>
</div>
{% endblock %}