{% load static %}
<footer class="container-fluid bg-dark">
  <div class="row">
    <p>Share PrintCrate:</p>
  </div>
  <div class="row d-flex align-items-center">
    <img class="social-icon" src="{% static 'img/facebook_icon.svg' %}" alt="Facebook">
    <img class="social-icon" src="{% static 'img/twitter_icon.svg' %}" alt="Twitter">
    <img class="social-icon" src="{% static 'img/instagram_icon.svg' %}" alt="Instagram">
    <img class="social-icon" src="{% static 'img/linkedin_icon.svg' %}" alt="LinkedIn">
    <i class="fas fa-link"></i>
  </div>
</footer>