{% load static %}
<footer class="container-fluid bg-secondary">
  <div class="row">
    <p>Share PrintCrate:</p>
  </div>
  <div class="row d-flex align-items-center">
    <a href="https://www.facebook.com/sharer.php?u=https://printcrate.herokuapp.com/" rel="noopener"
      target="_blank"><img class="social-icon" src="{% static 'img/facebook_icon.svg' %}" alt="Facebook"></a>
    <a href="https://twitter.com/intent/tweet?url=https://printcrate.herokuapp.com/&text=PrintCrate%20-%203D-printed%20products!&hashtags=3d-print,PrintCrate,Ecommerce"
      rel="noopener" target="_blank"><img class="social-icon" src="{% static 'img/twitter_icon.svg' %}"
        alt="Twitter"></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://printcrate.herokuapp.com/" rel="noopener"
      target="_blank"><img class="social-icon" src="{% static 'img/linkedin_icon.svg' %}" alt="LinkedIn"></a>
    <img id="clipboard-url" class="social-icon" src="{% static 'img/hyperlink.png' %}" alt=""
      data-clipboard-text="https://printcrate.herokuapp.com/">
  </div>
</footer>