<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-sm py-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks"
    aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="pt-2 remove-text-decoration" href="{% url 'home' %}">
    <h1 class="site-title" id="nav-title">PRINTCRATE</h1>
  </a>
  <a href="{% url 'cart_view' %}" class="order-lg-2 pl-md-3 pt-2 mr-2"><i class="fas fa-shopping-basket"></i>
    {% if product_count > 0 %}
    <label class="badge badge-info">{{ product_count }}</label>
    {% endif %}
  </a>
  <div id="navbarLinks" class="collapse navbar-collapse order-lg-1">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item border bg-white mx-1">
        <a class="nav-link text-center px-3" href="{% url 'products' %}"><i class="fas fa-search mx-2"></i>Browse Products</a></li>
      <li class="nav-item border bg-white mx-1">
        <a class="nav-link text-center px-3" href="{% url 'about' %}"><i class="fas fa-info mx-2"></i>About</a></li>
        {% if user.is_authenticated %}
          <li class="nav-item border bg-white mx-1">
            <a class="nav-link text-center px-3" href="{% url 'profile' %}"><i class="fas fa-user mx-2"></i>Profile</a></li>
          <li class="nav-item border bg-white mx-1">
            <a class="nav-link text-center" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mx-2"></i>Logout</a></li>
        {% else %}
          <li class="nav-item border bg-white mx-1">
            <a class="nav-link text-center px-3" href="{% url 'register' %}"><i class="fas fa-user-plus mx-2"></i>Register</a></li>
          <li class="nav-item border bg-white mx-1">
            <a class="nav-link text-center px-3" href="{% url 'login' %}"><i class="fas fa-sign-in-alt mx-2"></i>Login</a></li>
        {% endif %}
      <li class="nav-item border bg-white mx-1">
        <a class="nav-link text-center px-3" href="{% url 'contact' %}"><i class="fas fa-envelope mx-2"></i>Contact Us</a></li>
    </ul>
  </div>
</nav>