<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-sm py-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks"
    aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="pt-2 remove-text-decoration" href="{% url 'home' %}">
    <h1 id="site-title">PRINTCRATE</h1>
  </a>
  <a href="{% url 'cart_view' %}" class="order-lg-2"><i class="fas fa-shopping-basket"></i></a>
  <div id="navbarLinks" class="collapse navbar-collapse order-lg-1">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a></li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Browse Products</a></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'frequently_asked' %}">FAQ</a></li>
    </ul>
  </div>
</nav>