{% extends "base.html" %}
{% block content %}
<section class="jumbotron full-height d-flex align-items-center">
  <div class="container-fluid">
    <div class="row my-5">
      <h1 class="col-12 text-center">PrintCrate</h1>
    </div>
    <div class="row justify-content-center my-5">
      <p class="lead text-center">3D prints and designs for both aesthetic and functional needs.</p>
    </div>
    <hr class="my-4">
    <div class="row my-5 align-content-center">
      <a class="btn btn-custom btn-lg col-10 offset-1 my-3 col-md-4 offset-md-2" href="{% url 'products' %}"
        role="button">Browse
        Products</a>
      <a class="btn btn-custom btn-lg col-10 offset-1 my-3 col-md-4 ml-md-1" href="{% url 'about' %}"
        role="button">About Us</a>
    </div>
  </div>
</section>
<section class="container-fluid">
  <div class="row d-flex flex-wrap justify-content-around">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4 my-3">
      {% include "productcard.html" %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}