{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row my-5">
      <h1 class="col-12 d-flex justify-content-center">PrintCrate</h1>
    </div>
    <div class="row justify-content-center my-5">
      <p class="lead">3D prints and designs for both aesthetic and functional needs.</p>
    </div>
    <hr class="my-4">
    <div class="row my-5 align-content-center">
      <a class="btn btn-primary btn-lg col-10 offset-1 my-3 col-md-4 offset-md-2" href="#" role="button">Browse
        Products</a>
      <a class="btn btn-primary btn-lg col-10 offset-1 my-3 col-md-4 ml-md-1" href="#" role="button">About Us</a>
    </div>
  </div>
</div>
{% endblock %}